ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

li {
    list-style: none;
}

li:hover {
    text-decoration:underline white;
}

a {
    color: white;
    text-decoration-line: none;
}
h1 {
    font-size: 3rem;
    font-style: italic;
}

h3 {
    font-style: italic;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    color : #fff;
    background-color: #11075f;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #333;
}

.logo img{
    width: 200px;
    height: 200px;
}

